.bg{
    background-color: #1E90FF;
    display: flex;
    height: 100vh;
    /* padding: 0%; */
    padding-left: 30%;
    padding-top: 14%;

}


  
.form {
    background-color: aliceblue;
    width: 50%;
    height: 52%;
    font-weight: bolder;
    font-size: 128%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2%;
    padding-top: 1%;
}

.username{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}


.password{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;

}

.password input{
    position: absolute;
    height: 100%;
    width: 75%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.username input{
    position: absolute;
    height: 100%;
    width: 75%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}


.button1{
    width: 100%;
    background-color: blue;
    color: aliceblue;
    margin-top: 52px;
    height: 45px;
    font-size: 22px;
    border-radius: 6px;
    border: none;
}


.icon1{
    margin-top: 16px;
}

.icon2{
    margin-top: 16px;
}

.login-signup{
    margin-left:25% ;
    font-size: 15px;
}